In [ ]:
#Program for manipulation of marks using tuple
marks=(23,56,34,46,35,65,35,57,98,67,78,34,65,90,87,74,69,34) #Can be done till 180 records.
print("Highest marks:",max(marks))
print("Lowest marks:",min(marks))
print("Top 3 marks:",sorted(marks,reverse=True)[:3])
print("Bottom 3 marks:",sorted(marks)[:3])
marks.remove(34) #Tuple are immulatable hence they done have any function such as append, remove, etc.
print(marks)

Highest marks: 98
Lowest marks: 23
Top 3 marks: [98, 90, 87]
Bottom 3 marks: [23, 34, 34]

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
#Program for manipulation of student data using dictionary
student={10:"Arjun",11:"Rajesh",12:"Rajesh",13:"Satish",14:"Ritika",15:"Kriti"}
id=int(input("Enter the ID: "))
if id in student:
  print("Message sent to {}. The name of the student is {}.".format(id,student[id]))
else:
    print("Student not found")
print()
student2={16:"Devyani",17:"Steve"}
student.update(student2)
print(student)
print()
id=int(input("Enter the ID: "))
name=input("Enter the name: ")
age=int(input("Enter the age: "))
email=input("Enter the email: ")
a={"Name":name,"Age":age,"Email":email}
student[id]=a
print(student)

Enter the ID: 10
Message sent to 10. The name of the student is Arjun.

{10: 'Arjun', 11: 'Rajesh', 12: 'Rajesh', 13: 'Satish', 14: 'Ritika', 15: 'Kriti', 16: 'Devyani', 17: 'Steve'}

Enter the ID: 10
Enter the name: John
Enter the age: 23
Enter the email: john@gmail.com
{10: {'Name': 'John', 'Age': 23, 'Email': 'john@gmail.com'}, 11: 'Rajesh', 12: 'Rajesh', 13: 'Satish', 14: 'Ritika', 15: 'Kriti', 16: 'Devyani', 17: 'Steve'}

In [ ]:
#Program for grocery management
budget=int(input("Enter the budget: "))
choice=int(input("Enter the choice: \n1. Add and item. \n2. Exit. "))
gry={}
total_spent=0

if choice==1:
  while total_spent < budget:
    item=input("Enter the item: ")
    price=int(input("Enter the price: "))
    quantity=int(input("Enter the quantity: "))
    total_price = quantity * price
    if total_spent + total_price > budget:
      print("Sorry, you cannot add this item as it exceeds the budget.")
    else:
      gry[item] = {'quantity': quantity, 'price': price}
      total_spent += total_price
      print("Added to the grocery list.")
      print(gry)
      print("The remainging amount is",budget-total_spent)

else:
  print("Thank you.")
  print("The remaining amount is",budget-total_spent)
  print(gry)

Added to the grocery list.
{'milk': {'quantity': 1, 'price': 50}}
The remainging amount is 50
Added to the grocery list.
{'milk': {'quantity': 1, 'price': 50}, 'wheat': {'quantity': 1, 'price': 40}}
The remainging amount is 10
Sorry, you cannot add this item as it exceeds the budget.

In [ ]:
#program for registration of teams.

teams=["Earth","mars","Saturn"]
while len(teams) < 9:
    name = input("Enter a planet name for your team: ")
    if name in teams:
        print("This planet is already taken! Please choose a different planet.")
        print()
    else:
        teams.append(name)
        print(teams)
        print()

print("Registration is now full!")
print("Final registered teams: ", teams)

Enter a planet name for your team: Neptune
['Earth', 'mars', 'Saturn', 'Neptune']

Enter a planet name for your team: Venus
['Earth', 'mars', 'Saturn', 'Neptune', 'Venus']

Enter a planet name for your team: Sun
['Earth', 'mars', 'Saturn', 'Neptune', 'Venus', 'Sun']

Enter a planet name for your team: Moon
['Earth', 'mars', 'Saturn', 'Neptune', 'Venus', 'Sun', 'Moon']

Enter a planet name for your team: Uranus
['Earth', 'mars', 'Saturn', 'Neptune', 'Venus', 'Sun', 'Moon', 'Uranus']

Enter a planet name for your team: Jupiter
['Earth', 'mars', 'Saturn', 'Neptune', 'Venus', 'Sun', 'Moon', 'Uranus', 'Jupiter']

Registration is now full!
Final registered teams:  ['Earth', 'mars', 'Saturn', 'Neptune', 'Venus', 'Sun', 'Moon', 'Uranus', 'Jupiter']